{% extends "index.html.twig" %}
{% block body %}

  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-12'>
      <h3>Municipios por provincia {{ provincia }}</h3>
        <ul class="list-group">
          {% for mun in municipios %}
            <li class="list-group-item">
              {{ mun.nombre }}
            </li>
          {% endfor %}
        </ul>
        <nav>
          <ul class="pager">
            <li class="previous"><a href="municipios/{{ provincia }}/{{ numero }}"><span aria-hidden="true">&larr;</span> Anterior</a></li>
            <li class="next"><a href="municipios/{{ provincia }}/{{ numero }}">Siguiente <span aria-hidden="true">&rarr;</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

{% endblock %}
